<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CompteBancaireCreateDlg" widgetVar="CompteBancaireCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCompteBancaireTitle}">
            <h:form id="CompteBancaireCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{compteBancaireController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCompteBancaireLabel_id}" for="id" />
                        <p:inputText id="id" value="#{compteBancaireController.selected.id}" title="#{bundle.CreateCompteBancaireTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateCompteBancaireLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{compteBancaireController.selected.firstName}" title="#{bundle.CreateCompteBancaireTitle_firstName}" />
                        <p:outputLabel value="#{bundle.CreateCompteBancaireLabel_lastName}" for="lastName" />
                        <p:inputText id="lastName" value="#{compteBancaireController.selected.lastName}" title="#{bundle.CreateCompteBancaireTitle_lastName}" />
                        <p:outputLabel value="#{bundle.CreateCompteBancaireLabel_accountNumber}" for="accountNumber" />
                        <p:inputText id="accountNumber" value="#{compteBancaireController.selected.accountNumber}" title="#{bundle.CreateCompteBancaireTitle_accountNumber}" />
                        <p:outputLabel value="#{bundle.CreateCompteBancaireLabel_balance}" for="balance" />
                        <p:inputText id="balance" value="#{compteBancaireController.selected.balance}" title="#{bundle.CreateCompteBancaireTitle_balance}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{compteBancaireController.create}" value="#{bundle.Save}" update="display,:CompteBancaireListForm:datalist,:growl" oncomplete="handleSubmit(args,'CompteBancaireCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CompteBancaireCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
