<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
             <h:outputStylesheet name="bootstrap.min.css" library="css" />
             <h:outputScript  name="bootstrap.min.js" library="js"/>
             <h:outputScript  name="jquery.min.js" library="js"/>
             <h:outputScript  name="popper.min.js" library="js"/>
             
            <h:outputText value="#{bundle.ListCompteBancaireTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="CompteBancaireListForm" class="form-control">
                <p:panel header="#{bundle.ListCompteBancaireTitle}">
                    <p:dataTable id="datalist" value="#{compteBancaireController.items}" var="item"
                                 selectionMode="single" selection="#{compteBancaireController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCompteBancaireTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCompteBancaireTitle_firstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.firstName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCompteBancaireTitle_lastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCompteBancaireTitle_accountNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.accountNumber}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCompteBancaireTitle_balance}"/>
                            </f:facet>
                            <h:outputText value="#{item.balance}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{compteBancaireController.prepareCreate}" update=":CompteBancaireCreateForm" oncomplete="PF('CompteBancaireCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":CompteBancaireViewForm" oncomplete="PF('CompteBancaireViewDialog').show()" disabled="#{empty compteBancaireController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":CompteBancaireEditForm" oncomplete="PF('CompteBancaireEditDialog').show()" disabled="#{empty compteBancaireController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{compteBancaireController.destroy}" update=":growl,datalist" disabled="#{empty compteBancaireController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
